

[submodule "deps/node-websocket-server"]
	path = deps/node-websocket-server
	url = http://github.com/miksago/node-websocket-server.git
[submodule "deps/node-microseconds"]
	path = deps/node-microseconds
	url = http://github.com/tmpvar/node-microseconds.git
