[submodule "deps/node-mogodb-native"]
  path = deps/node-mongodb-native
  url = git://github.com/christkv/node-nogodb-native.git
[submodule "deps/node-ws"]
  path = deps/node-ws
  url = git://github.com/ncr/node.ws.js.git
[submodule "deps/node-websocket-server"]
  path = deps/node-websocket-server
  url = http://github.com/mnutt/node-websocket-server.git


